<!-- <div class="card">
  <div class="card-header">
    <app-app-header></app-app-header>
  </div>
  <app-shopping-list></app-shopping-list>
</div> -->


<div class="card">
  <div class="card-header" class="text-center">
    <app-app-header></app-app-header>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-left" style="padding-left:100px;">
        <!-- <app-shopping-list></app-shopping-list> -->
        <app-product-list></app-product-list>
      </div>

      <app-app-footer></app-app-footer>
    </div>
  </div>
</div>